In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("First Spark application") \
    .getOrCreate()

24/09/30 23:31:15 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [5]:
data = [
    {"userId": 1, "paymentAmount": 100.0, "date": "2023-01-01"},
    {"userId": 2, "paymentAmount": 150.5, "date": "2023-01-02"},
    {"userId": 3, "paymentAmount": 200.75, "date": "2023-01-03"},
    {"userId": 2, "paymentAmount": 50.25, "date": "2023-01-04"},
    {"userId": 1, "paymentAmount": 80.0, "date": "2023-01-05"}
]

df = spark.createDataFrame(data)

In [6]:
df.show()

+----------+-------------+------+
|      date|paymentAmount|userId|
+----------+-------------+------+
|2023-01-01|        100.0|     1|
|2023-01-02|        150.5|     2|
|2023-01-03|       200.75|     3|
|2023-01-04|        50.25|     2|
|2023-01-05|         80.0|     1|
+----------+-------------+------+

In [7]:
df.count()

5

In [9]:
data = data_values = [
    (1, 100.0, "2023-01-01"),
    (2, 150.5, "2023-01-02"),
    (3, 200.75, "2023-01-03"),
    (2, 50.25, "2023-01-04"),
    (1, 80.0, "2023-01-05")
]

df = spark.createDataFrame(data, ["userId", "amount", "date"])
df.show(3)

+------+------+----------+
|userId|amount|      date|
+------+------+----------+
|     1| 100.0|2023-01-01|
|     2| 150.5|2023-01-02|
|     3|200.75|2023-01-03|
+------+------+----------+
only showing top 3 rows